@media (max-width: 1200px) {
    .layout {
        width: 90%;
    }
}

@media (max-width: 850px) {
    .layout {
        grid-template-areas: 
            "header"
            "principal"
            "sidebar"
            "articles"
            "footer"
        ;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu__container {
        display: none;
    }

    .icon__menu__container {
        display: block;
    }

    .principal__content {        
        flex-direction: column;
    }   

    .articles {       
        grid-template-columns: repeat(1, 1fr);
    }

    .article__img-container {
        flex-basis: 20%;
    }

    .article__content {
        flex-basis: 80%;
    }

    
    
}
