/* General */
:root {
    --text-regular: 'Inter-Regular', sans-serif;
    --text-bold: 'Inter-Bold', sans-serif;
    --color-orange: hsl(35, 77%, 62%);
    --color-red: hsl(5, 85%, 63%);
    --color-white: hsl(36, 100%, 99%);
    --color-ligth-gray: hsl(233, 8%, 79%);
    --color-gray: hsl(236, 13%, 42%);
    --color-dark: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    font-family: var(--text-regular);
}

.layout {
    width: 60%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
        "header header header"
        "principal principal sidebar"
        "articles articles articles"
        "footer footer footer"
    ;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

/* Header */
.header {
    grid-area: header;
    margin-top: 9rem;
    margin-bottom: 5rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu__container {
    display: flex;
    flex-direction: row;
    list-style: none;    
}

.menu__item {
    padding: 0 2rem;
    font-size: 1.5rem;    
}

.menu__item:last-child {
    padding-right: 0;
}

.menu__link {
    font-family: var(--text-bold);
    color: var(--color-gray);
    text-decoration: none;
    transition: all 300ms ease;
}

.menu__link:hover {
    color: var(--color-red);
}

.icon__menu__container,
.icon__menu__close__container {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Principal */
.principal {
    grid-area: principal;
}

.principal__img-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
}

.principal__img {
    width: 100%;
}

.principal__content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.content__title {
    flex-basis: 50%;
    font-size: 6rem;
    font-family: var(--text-bold);
    color: var(--color-dark);
    line-height: 1;
}

.content__container {
    flex-basis: 50%;    
}

.content__description,
.article__description {
    font-size: 1.5rem;
    color: var(--color-gray);
    line-height: 1.5;
    margin-bottom: 3rem;
}

.content__btn {
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 1em 3rem;
    letter-spacing: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;
}

.content__btn:hover {
    background-color: var(--color-dark);
}

/*Sidebar  */
.sidebar {
    grid-area: sidebar;
    background-color: var(--color-dark);
    padding: 2rem;
}

.sidebar__title {
    color: var(--color-orange);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.sidebar__subtitle {
    font-family: var(--text-bold);
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.sidebar__subtitle-link {
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease;
}

.sidebar__subtitle-link:hover {
    color: var(--color-orange);
}

.sidebar__description {
    font-size: 1.5rem;
    color: var(--color-ligth-gray);
    line-height: 1.5;
    margin-bottom: 3rem;
}

.sidebar__separator {
    width: 100%;
    height: 0.1rem;
    background-color: var(--color-ligth-gray);
    margin-bottom: 3rem;
}

/* Articles */
.articles {
    margin-top: 3.5rem;
    grid-area: articles;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 3rem;
}

.article {
    display: flex;    
    flex-direction: row;
    gap: 2rem;
}

.article__img-container {
    flex-basis: 40%;
    overflow: hidden;
}

.article__img {
    width: 100%;
}

.article__content {
    flex-basis: 60%;
}

.article__number {
    display: block;
    font-family: var(--text-bold);
    font-size: 3rem;
    color: var(--color-ligth-gray);
    margin-bottom: 1rem;
}

.article__title {
    font-family: var(--text-bold);
    font-size: 1.5rem;
    margin-bottom: 1rem;    
}

.article__link {
    text-decoration: none;
    color: var(--color-dark);
    transition: all 300ms ease;
}

.article__link:hover {
    color: var(--color-red);
}

/* Footer */
.footer {
    grid-area: footer;
    padding: 1rem;
    margin-bottom: 1rem;
}

.attribution { font-size: 1.1rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Mobile menu */
.menu__mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;    
    padding: 3rem 1.5rem;
    background-color: var(--color-white);
    height: 100vh;
    transition: all 300ms ease-in-out;
}

.icon__menu__close__container {
    display: block;
    float: right;
    cursor: pointer;
}

.menu__mobile__container {
    margin-top: 5rem;
    margin-right: 10rem;
}

.menu__mobile__item {
    padding: 1.5rem;
    font-size: 1.5rem;
}

.menu__mobile__link {
    font-family: var(--text-regular);
    color: var(--color-dark);
    text-decoration: none;
    transition: all 300ms ease;
}

.menu__mobile__link:hover {
    color: var(--color-red);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-dark);
    opacity: 0.5;
}